html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
body,
.jumbotron {
  background-image: url("Images/back-index.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.ml2 {
  color: rgb(23, 11, 194);
  font-weight: bold;
  font-size: 100px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  border-color: black;
}
.jumbotron {
  min-height: 100vh;
  background-color: white;
}
.commonPara {
  font-family: "Itim", cursive;
  text-align: center;
  font-size: 33px;
}
.footer {
  justify-content: center;
  text-align: center;
}

#gmail-logo {
  margin-left: 40px;
}
#quote {
  color: crimson;
}

/* todo: it's currently useless */
.show {
  transition: opacity 400ms;
}
.hide {
  opacity: 0;
}

#rules {
}

#rules-defines {
  line-height: 35px;
}
