@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

body,
html {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background: radial-gradient(
    circle,
    rgba(255, 252, 0, 1) 0%,
    rgba(240, 237, 23, 1) 100%
  );
  height: 100%;
}

body {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-family: "Luckiest Guy", cursive;
}

h1,
button {
  margin: 0;
  font-size: 3em;
  padding: 0;
  color: white;
  text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
    0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
    0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
    -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1),
    -0.03em 0 0 rgba(0, 0, 0, 1);
}
.options {
  display: block;
  margin-bottom: 10px;
  font-size: px;
}

#timer {
  display: flex;
  flex-direction: right;
  font-size: 2em;
  justify-content: center;
  text-align: center;
}
.ml11 {
  font-weight: 700;
  font-size: 3.5em;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}
.end {
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Luckiest Guy", cursive;
  font-size: 3.5em;
  color: white;
  text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
    0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
    0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
    -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1),
    -0.03em 0 0 rgba(0, 0, 0, 1);
}
